@import "bootstrap";

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important
}

html,
body {
  height: 100%;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

#sticky-footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
